In [1]:
import re
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
#Q1. Import the required libraries. Import datasets. Concatenate the datasets. Display first 5 rows. 
data_train = pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/train.csv")
data_test = pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/test.csv")
data = [data_train, data_test]
data = pd.concat(data)
print(data.head())

    Age Cabin Embarked     Fare  \
0  22.0   NaN        S   7.2500
1  38.0   C85        C  71.2833
2  26.0   NaN        S   7.9250
3  35.0  C123        S  53.1000
4  35.0   NaN        S   8.0500

                                                Name  Parch  PassengerId  \
0                            Braund, Mr. Owen Harris      0            1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                             Heikkinen, Miss. Laina      0            3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                           Allen, Mr. William Henry      0            5

   Pclass     Sex  SibSp  Survived            Ticket
0       3    male      1       0.0         A/5 21171
1       1  female      1       1.0          PC 17599
2       3  female      0       1.0  STON/O2. 3101282
3       1  female      1       1.0            113803
4       3    male      0       0.0            373450

C:\Users\kakkaryukta\Anaconda2\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """

In [3]:
#Q2. Remove NaN values from the column ‘Survived’.
data.dropna(subset = ['Survived'],inplace=True)
print(data.head())

    Age Cabin Embarked     Fare  \
0  22.0   NaN        S   7.2500
1  38.0   C85        C  71.2833
2  26.0   NaN        S   7.9250
3  35.0  C123        S  53.1000
4  35.0   NaN        S   8.0500

                                                Name  Parch  PassengerId  \
0                            Braund, Mr. Owen Harris      0            1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                             Heikkinen, Miss. Laina      0            3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                           Allen, Mr. William Henry      0            5

   Pclass     Sex  SibSp  Survived            Ticket
0       3    male      1       0.0         A/5 21171
1       1  female      1       1.0          PC 17599
2       3  female      0       1.0  STON/O2. 3101282
3       1  female      1       1.0            113803
4       3    male      0       0.0            373450

In [4]:
#Q3. Create a new column 'Has_Cabin' that tells you whether passengers had a cabin or not. 
data['Has_Cabin'] = np.where(data['Cabin'].isnull(),'No','Yes')
print(data['Has_Cabin'])

0       No
1      Yes
2       No
3      Yes
4       No
5       No
6      Yes
7       No
8       No
9       No
10     Yes
11     Yes
12      No
13      No
14      No
15      No
16      No
17      No
18      No
19      No
20      No
21     Yes
22      No
23     Yes
24      No
25      No
26      No
27     Yes
28      No
29      No
      ...
861     No
862    Yes
863     No
864     No
865     No
866     No
867    Yes
868     No
869     No
870     No
871    Yes
872    Yes
873     No
874     No
875     No
876     No
877     No
878     No
879    Yes
880     No
881     No
882     No
883     No
884     No
885     No
886     No
887    Yes
888     No
889    Yes
890     No
Name: Has_Cabin, Length: 891, dtype: object

In [5]:

# Q4. Create a new column “Title”, which will contain the titles of the passengers such as Mr., Mrs., etc. 
#    There should be five titles: Mr, Mrs, Master, Miss, and Special. 

def add_title(name):
    title1=re.compile(r'Mr')
    title2=re.compile(r'Mrs')
    title3=re.compile(r'Miss')
    title4=re.compile(r'Master')
    for i in range(0,891):
        str=name[i].split(',')
        if(title1.search(str[1])):
            name[i]='Mrs'
        elif(title2.search(str[1])):
            name[i]='Mr'
        elif(title3.search(str[1])):
            name[i]='Miss'
        elif(title4.search(str[1])):
            name[i]='Master'
        else:
            name[i]='Special'
               
data['Title']=data['Name']
np.apply_along_axis(add_title,0,data['Title'])
print(data['Title'].value_counts())

Mrs        647
Miss       180
Master      40
Special     24
Name: Title, dtype: int64

In [6]:
#Q5. Impute the missing values using .fillna() method.
data=data.fillna(data.median())
print(data.isnull().sum())

Age              0
Cabin          687
Embarked         2
Fare             0
Name             0
Parch            0
PassengerId      0
Pclass           0
Sex              0
SibSp            0
Survived         0
Ticket           0
Has_Cabin        0
Title            0
dtype: int64

In [7]:
#Q6. Create two new columns “Categorical_age” and “Categorical_fare”, where you will put people that are
#    within a certain range of age or fare in the same bin. 
data["Categorical_age"]=pd.qcut(data.Age,q=4,labels=['A','B','C','D'])
data["Categorical_fare"]=pd.qcut(data.Fare,q=4,labels=['P','Q','R','S'])
print(data.head())

    Age Cabin Embarked     Fare  \
0  22.0   NaN        S   7.2500
1  38.0   C85        C  71.2833
2  26.0   NaN        S   7.9250
3  35.0  C123        S  53.1000
4  35.0   NaN        S   8.0500

                                                Name  Parch  PassengerId  \
0                            Braund, Mr. Owen Harris      0            1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                             Heikkinen, Miss. Laina      0            3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                           Allen, Mr. William Henry      0            5

   Pclass     Sex  SibSp  Survived            Ticket Has_Cabin Title  \
0       3    male      1       0.0         A/5 21171        No   Mrs
1       1  female      1       1.0          PC 17599       Yes   Mrs
2       3  female      0       1.0  STON/O2. 3101282        No  Miss
3       1  female      1       1.0            113803       Yes   Mrs
4       3    male      0       0.0            373450        No   Mrs

  Categorical_age Categorical_fare
0               A                P
1               D                S
2               B                Q
3               C                S
4               C                Q

In [8]:
#Q7. Drop columns Cabin, Name, Passengerid, Ticket, Age, Fare, SibSp, Parch. 
data=data.drop(labels=['Cabin','Name','Parch','PassengerId','Ticket','Age','Fare','SibSp'],axis=1)
print(data.head())

  Embarked  Pclass     Sex  Survived Has_Cabin Title Categorical_age  \
0        S       3    male       0.0        No   Mrs               A
1        C       1  female       1.0       Yes   Mrs               D
2        S       3  female       1.0        No  Miss               B
3        S       1  female       1.0       Yes   Mrs               C
4        S       3    male       0.0        No   Mrs               C

  Categorical_fare
0                P
1                S
2                Q
3                S
4                Q

In [9]:
#Q8. Transform all variables into numeric ones using get_dummies(). 
data = pd.get_dummies(data)
print(data.head())

   Pclass  Survived  Embarked_C  Embarked_Q  Embarked_S  Sex_female  Sex_male  \
0       3       0.0           0           0           1           0         1
1       1       1.0           1           0           0           1         0
2       3       1.0           0           0           1           1         0
3       1       1.0           0           0           1           1         0
4       3       0.0           0           0           1           0         1

   Has_Cabin_No  Has_Cabin_Yes  Title_Master         ...          Title_Mrs  \
0             1              0             0         ...                  1
1             0              1             0         ...                  1
2             1              0             0         ...                  0
3             0              1             0         ...                  1
4             1              0             0         ...                  1

   Title_Special  Categorical_age_A  Categorical_age_B  Categorical_age_C  \
0              0                  1                  0                  0
1              0                  0                  0                  0
2              0                  0                  1                  0
3              0                  0                  0                  1
4              0                  0                  0                  1

   Categorical_age_D  Categorical_fare_P  Categorical_fare_Q  \
0                  0                   1                   0
1                  1                   0                   0
2                  0                   0                   1
3                  0                   0                   0
4                  0                   0                   1

   Categorical_fare_R  Categorical_fare_S
0                   0                   0
1                   0                   1
2                   0                   0
3                   0                   1
4                   0                   0

[5 rows x 21 columns]

In [10]:
#Q9. Use train_test_split() to split your dataset.
#    X(Features) will be the dataset values without the column “Survived” and y(Targets) will be your “Survived” column values. 

X = data.drop(["Survived"],axis = 1)
Y=data["Survived"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3)
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(623, 20)
(623L,)
(268, 20)
(268L,)

In [11]:
#Q10. Use logistic regression by passing your X_train and y_train. 
reg  =  LogisticRegression()
reg.fit(X_train,Y_train)
pred = reg.predict(X_test)
result = pd.DataFrame({"Predicted":pred,"Actual":Y_test})
print(result)

     Actual  Predicted
523     1.0        1.0
143     0.0        0.0
194     1.0        1.0
653     1.0        1.0
486     1.0        1.0
882     0.0        1.0
409     0.0        0.0
286     1.0        0.0
28      1.0        1.0
667     0.0        0.0
738     0.0        0.0
608     1.0        1.0
660     1.0        0.0
659     0.0        0.0
283     1.0        0.0
795     0.0        0.0
744     1.0        0.0
602     0.0        0.0
32      1.0        1.0
755     1.0        1.0
335     0.0        0.0
241     1.0        1.0
54      0.0        0.0
41      0.0        1.0
575     0.0        0.0
707     1.0        0.0
593     0.0        1.0
25      1.0        0.0
152     0.0        0.0
786     1.0        1.0
..      ...        ...
122     0.0        0.0
583     0.0        0.0
785     0.0        0.0
874     1.0        1.0
315     1.0        0.0
301     1.0        0.0
142     1.0        0.0
424     0.0        0.0
81      1.0        0.0
5       0.0        0.0
436     0.0        0.0
589     0.0        0.0
568     0.0        0.0
200     0.0        0.0
9       1.0        1.0
546     1.0        1.0
559     1.0        0.0
830     1.0        1.0
62      0.0        0.0
619     0.0        0.0
260     0.0        0.0
889     1.0        1.0
348     1.0        0.0
130     0.0        0.0
550     1.0        1.0
614     0.0        0.0
864     0.0        0.0
91      0.0        0.0
502     0.0        1.0
263     0.0        0.0

[268 rows x 2 columns]

In [12]:
#Q11. Print the accuracy score. 
print(reg.score(X_test,Y_test))

0.8208955223880597